							<div id="content" class="span10">
								<!-- start: Content -->

								<div>
									<hr>
									<ul class="breadcrumb">
										<li>
											<a href="#">Home</a> <span class="divider">/</span>
										</li>
										<li>
											<a href="#">Product 2 Activities</a>
										</li>
									</ul>
									<hr>
								</div>
								<hr>

								 <div class="row-fluid sortable">

									<div class="box span12">
										<div class="box-header" data-original-title>
											<h2><i class="icon-user"></i><span class="break"></span>Popular Activities</h2>
											<div class="box-icon">
												<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
												<a href="#" class="btn-close"><i class="icon-remove"></i></a>
											</div>
										</div>
										<div class="box-content">
											<table class="table table-striped table-bordered bootstrap-datatable datatable">
												<thead>
													<tr>
														<th class="floatleft">Name <i class="fa-icon-sort"></i></th>
														<th class="floatleft">Times played <i class="fa-icon-sort-down"></i></th>
														<th class="floatleft">Users playing <i class="fa-icon-sort"></i></th>
													</tr>
												</thead>   
												<tbody>
													<%i = 0  
													while i < 10  
  													i += 1    %>
													<tr>
														<td>Game <%=i.inspect%></td>
															<td class="center"><%=rand(1000)%></td>
															<td class="center"><%=rand(500)%></td>
															</tr>											 
															<% end %>
														</tbody>
													</table>            
												</div>
											</div><!--/span-->

										</div>	<!--/row shortable-->	



										<hr>							
							</div><!--/#content.span10-->